.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-player {
  width: 95vw;
  height: auto;
}

.hidden-videos {
  display: none;
}



.play-pause-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 48px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-icon, .pause-icon {
  pointer-events: none;
}

.begin-button {
  background-color: #007bff;
  border: none;
  padding: 10px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}